/rezultati_filtrirani.csv
/povzetek_klubi_3D.csv
/povzetek_3D.csv
/povzetek_AH.csv
/povzetek_Dvorana.csv
/povzetek_klubi_AH.csv
/povzetek_klubi_Dvorana.csv
/povzetek_klubi_Tarčno.csv
/povzetek_Tarčno.csv
